[submodule "_vendors/normalize"]
	path = _vendors/normalize
	url = https://github.com/necolas/normalize.css.git
[submodule "_plugins/jekyll-url-helper-filter"]
	path = _plugins/jekyll-url-helper-filter
	url = https://github.com/jhauraw/jekyll-url-helper-filter-plugin.git
