body {
	width: 100%;
	margin: 10px;
	padding: 0px;
	border: none;
	border-radius: 0px;
	background-color: #fff;
}
#main,#sidebar {
	float: none;
	display: block;
	width: 100%;
}
#sidebar h1 {
	display: block;
	margin: 5px 0px 0px 10px;
}
#sidebar ul {
	display: none;
}
#sidebar li {
	margin: 0px;
}
footer span {
	display: block;
}