html { width: 420px; overflow-x: hidden; overflow-y: auto; margin: 0px; padding: 0px; }
body { width: 400px; height: auto; overflow: hidden; margin: 10px; }
body>#main,body>aside,header,footer { width: 400px; overflow: hidden; margin: 0px; padding: 0px; }
body>#main { height: auto; }
body>aside { margin-bottom: 15px; text-align: left; }
body>aside h1 { text-align: center; }
body>aside li { display: block; width: 200px; float: left; text-align: center; margin-top: 15px; }