h1 { margin-top: 10px; }

aside ul { padding-left: 0px; }
aside li { display: block; text-align: right; }

#main p { margin-bottom: 5px; }
#main ul { padding-left: 15px; }
#main a { color: #000; }
#main a:hover { text-decoration: none; }

footer p { text-align: center; }