@import "bootstrap";
@import "font-awesome";

h1 { margin-top: 10px; }

aside { border-left: 1px solid #000; }
aside h1 { margin: 0px; text-align: left; font-size: 1.5em; }
aside ul { padding-left: 0px; }
aside li { display: block; text-align: left; }

#main { border-top: 1px solid #000; }
@media (max-width: 767px) { #main { border-bottom: 1px solid #000; } }
#main h1 { display: block; float: left; margin: 10px 0px; font-size: 2em; }
#main i { display: block; float: right; }
.content { clear: both; }
.content p { margin-bottom: 2.5px; }
.content ul { padding-left: 15px; }
.content a { color: #000; }
.content a:hover { text-decoration: none; }

footer p { margin-top: 15px; text-align: center; }
@media (min-width: 768px) { footer div { border-top: 1px solid #000; } }
