<!DOCTYPE html>
<html lang="en">
  <head>
{% include head.html %}
  </head>
  <body class="container-fluid">
    <header class="row">
      {% include header.html %}
    </header>
    <div class="row">
      <section id="main" class="col-sm-9">
        {% if page.title %}
        <h1>{{ page.title | capitalize }}</h1>
        <i>{{ page.date | date: "%m. %d. %Y" }}</i>
        {% else %}
        {% for post in site.posts limit:1 %}
        <h1>{{ post.title | capitalize }}</h1>
        <i>{{ post.date | date: "%m. %d. %Y" }}</i>
        {% endfor %}
        {% endif %}
        <div class="content">
          {{ content }}
        </div>
      </section>
      <aside class="col-sm-3">
        {% include aside.html %}
      </aside>
    </div>
    <footer class="row">
      {% include footer.html %}
    </footer>
  </body>
</html>
